.git
.gitignore

**/node_modules
**/.turbo
**/dist

.vscode
.idea
**/*.swp

**/.env
**/.env.*
!**/.env.example

**/vitest.config.ts
**/vitest.*.config.ts
**/vitest.setup.ts
**/test
**/*.test.ts
**/*.spec.ts

.DS_Store
Thumbs.db
*.md
LICENSE
